<div class="col-sm-12 col-xs-12">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="navation">
                <li class="nav-active">
                    <a href="/payment/">
                        <i class="glyphicon glyphicon-yen"></i><br/>
                        <span>我要充值</span>
                    </a>
                </li>
                <li>
                    <a href="/myaccount">
                        <i class="glyphicon glyphicon-user"></i><br/>
                        <span>个人中心</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-piggy-bank"></i><br/>
                        <span>开店返利</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>