<div class="weui_dialog_confirm" id="mask" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">购买确认</strong></div>
        <div class="weui_dialog_bd">
          <div class="pl15"><span class="tit">手机号码：</span><span id="maskmobile"></span></div>
          <div class="pl15"><span class="tit">提取流量：</span><span class="orange" id="maskflow"></span></div>
          <div class="pl15" style="display: none"><span class="tit">积分抵扣：</span><span style="color: red;" id="integral"></span>元</div>
          <div class="pl15"><span class="tit">花费：</span><span style="color: red;" id="maskcost"></span>元</div>
        </div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default back">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary sure">确定</a>
        </div>
    </div>
</div>