<div class="container">
    <div class="row" id="chooseMoney">
      <span data-id="balance" href="javascript:;" class="weui_btn weui_btn_primary selected">微信支付</span>
      <span data-id="remainingTraffic" href="javascript:;" data-less='{{customer.remainingTraffic}}' class="weui_btn weui_btn_default">余   额</span>
      <span data-id="salary" href="javascript:;" data-less='{{customer.salary}}' class="weui_btn weui_btn_default" style="margin-top: 0px;">分销奖励</span>
    </div>
  </div>
<div id="salary" class="weui_cells_title tel-title" style="display: none">选择流量包（您当前可用<span style="color:orange;"> {{customer.salary}}  </span>元）</div>
<div id="remainingTraffic" class="weui_cells_title tel-title" style="display: none">选择流量包（您当前可用<span style="color:orange;"> {{customer.remainingTraffic}}  </span>元）</div>
<div id="balance" class="weui_cells_title tel-title">选择流量包（<span style="color:orange;">微信安全支付</span>）</div>