<div class="mask" style="display: none;" id="mask">
  <div class="tk">
      <div class="title">购买确认</div>
      <div class="con">
        <div class="pl15"><span class="tit">充值余额：</span><span class="orange" id="maskflow"></span>元</div>
        <div class="pl15"><span class="tit">付款金额：</span><span id="maskmoney"></span>元</div>
        <div class="pl15"><span class="tit">支付方式：</span>微信支付</div>
      </div>
      <div class="bot">
          <div class="back"><a href="javascript:void(0);">取消</a></div>
          <div class="sure"><a href="javascript:void(0);">确定</a></div>
      </div>
  </div>
</div>