<ul class="nav nav-sidebar">
  <li><a href="/admin/customers">用户</a></li>
  <li><a href="/admin/levels">用户等级</a></li>
  <li><a href="/admin/configs">配置</a></li>
  <li><a href="/admin/wechatmenus">微信菜单</a></li>
  <li><a href="/admin/wechatreplies">微信回复</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/admin/orders">余额充值订单</a></li>
  <li><a href="/admin/extractorders">流量订单</a></li>
  <li><a href="/admin/billorders">话费订单</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/admin/trafficplans">流量套餐</a></li>
  <li><a href="/admin/bills">话费套餐</a></li>
  <li><a href="/admin/dataplans">充值套餐</a></li>
  <li><a href="/admin/trafficgroups">套餐分组</a></li>
  <li><a href="/admin/coupons">优惠券</a></li>
  <li><a href="/admin/messagetemplates">回复模板</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/admin/banners">广告</a></li>
  <li><a href="/admin/withdrawals">提取申请</a></li>
  <li><a href="/admin/flowtasks">活动</a></li>
  <li><a href="/admin/flowhistories">历史记录</a></li>
  <li><a href="/admin/contribution">分销贡献</a></li>
  <li><a href="/admin/devote">分销统计</a></li>
  <li><a href="/admin/affiliateconfigs">分销配置</a></li>
</ul>

<script type="text/javascript">
$(function(){
  $("#siderbar li a").each(function(i, e) {
    var link = $(e).attr("href"),
        regexLink = '^' + link + "[\/|\?]\?.*"
    if(link !== '#' || link !== ''){
      if(window.location.pathname.match(regexLink)){
        $(e).parent().addClass("active")
      }
    }
  })
})
</script>

