<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>大流量王专注流量服务与资讯的平台 {{customer.username}}专属二维码</title>
</head>
<body>
  {{{body}}}
</body>
</html>