<div class="content">
  <div class="form-group">
    <div class="tel-name">请先绑定手机号码：</div>
    <div class="tel-input">
        <input id="mobile" name='phone' type="text" class="form-control" placeholder="请填写手机号码">
    </div>
    <div id="phone-detail" class="correct" style="display: none" ></div>
  </div>
  <div class="form-group">
    <div class="col-md-4 col-xs-5 tel-input">
        <input id="code" name='code' type="text" class="form-control" placeholder="请输入验证码">
    </div>

    <div class="col-md-4 col-xs-5 pull-right" style="padding-top: 5px;">
        <div><a href="javascript:void();" class="btn btn-default form-control" id="get_code"><span id="countDown"></span>获取验证码</a></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="ml">
    <div class="inform">
        <p>我已阅读并同意<a href="#" class="red">《淘优团用户协议》</a></p>
        <button type="button" id="submit-btn" class="btn-submit" >立即绑定</button>
    </div>
  </div>
</div>

{{> alertmodal }}