{
  "development": {
    "username": "root",
    "password": "wteam13",
    "database": "rose",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "timezone":"+08:00"
  },
  "test": {
    "username": "root",
    "password": "wteam13",
    "database": "rose",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "timezone":"+08:00"
  },
  "production": {
    "username": "root",
    "password": "wteam13",
    "database": "rose",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "timezone":"+08:00"
  }
}
